<!DOCTYPE html>
<html>

<head>
  <title>Angular ToDo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="TodoApp">

  <section ng-controller="TodoCtrl">

    <h1>{{title}}</h1>

    <div ng-hide="checked" class="content-wrapper container-fluid">

      <!-- Add a Todo Input, Radio buttons, New Todo button -->
      <form ng-submit="addTodo()">
        <label for="">Add a Todo</label>
        <br/>
        <input class="inputs" type="text" ng-model="newTodo">
        <div class="input-group">
          <input class="inputs" name="taskType" type="radio" value="home" ng-model="taskType">Home
          <input class="inputs" name="taskType" type="radio" value="work" ng-model="taskType">Work</br>
          </br>
        </div>
        {{homeTask}}
        <button type="submit" class="btn-default">New Todo</button>
        </br>
        </br>
      </form>


      <!-- Filter Input -->
      <label for="potato">Filter</label>
      <br/>
      <input class="inputs" id="potato" type="text" ng-model="potato">
      <div>{{potato}}</div>


      <!-- Task Dropdown Menu -->
      <div>
        <label for="type">Task Type</label>
        <br/>
        <select id="type" ng-model="selectedTodo" ng-options="item.name group by item.type for item in tasks">
        </select>
        </br>
        </br>
      </div>


      <!-- Output of what is selectedin the dropdown menu -->
      <div>
        <h3>You have selected {{selectedTodo.name}}</h3>
        </br>
      </div>


      <!-- ul of task populated from json file and what is added by the user, with a delete button -->
      <div>
        <ul ng-repeat="var_name in tasks | filter: potato">
          <li>{{var_name.name}}
            <button ng-click="removeTodo(var_name)">Delete</button>
          </li>
          </br>
          </li>
        </ul>
      </div>


      <!-- Hide Todo App and populate a new page -->
      <div>
        <label for="">Completed</label>
        <input class="inputs" type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
        <br/>
        <div ng-hide="checked"></div>
      </div>

    </div> <!-- Opening on line 16  -->



    <!-- Congrats Message -->
    <div ng-show="checked" class="row">
      <div class="col-md-12">
        <!-- change congratsMessage to not true or true -->
        <h1>Congrats, you completed your Todos!</h1>
        <label for="">Click the checkbox to return to Todo App</label>
        <input class="inputs" type="checkbox" ng-model="checked" unchecked aria-label="Toggle ngShow">
      </div>
    </div>

  </section> <!-- Opening on line 12 -->



  <!-- Angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <!-- My scripts -->
  <script src="app/app.js"></script>
  <script src="app/controllers/todo.js"></script>
</body>

</html>