<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 title">
      <h1>{{todo.title}}</h1>
    </div>
  </div>

  <div class="row mainrow">
    <div class="col-sm-6 leftbox">
      <h3 class="input-labels">Create New Todo</h3>
      <input class="inputs" type="text" ng-model="todo.newTodo">
      <div class="radio-btns">
        <label class="radio-inline">
          <input class="inputs" name="taskType" type="radio" value="home" ng-model="todo.taskType">Home
        </label>
        <label class="radio-inline">
          <input class="inputs" name="taskType" type="radio" value="work" ng-model="todo.taskType">Work</br>
        </label>
      </div>
      <i class="fa fa-plus-circle add-icon" ng-click="todo.addTodo()" aria-hidden="true"></i>
    </div>

    <div class="col-sm-6 rightbox">
      <!-- Filter Input -->
      <h3 class="input-labels">Filter Todos</h3>
      <input class="inputs" id="potato" type="text" ng-model="todo.potato">
      <div>{{potato}}</div>

      <!-- ul of task populated from json file and what is added by the user, with a delete button -->
      <div>
        <ul ng-repeat="todoItem in todo.tasks | filter: potato">
          <li>{{todoItem.name}} | {{todoItem.type}}
            <i class="fa fa-trash-o btn-delete" ng-click="todo.removeTodo(todoItem)" aria-hidden="true"></i>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
